.header {
  position: absolute;
  width: 1440px;
  height: 823px;
  left: 0px;
  top: 11px;
}

h1 {
  position: relative;
  width: 386px;
  height: 66px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;

  position: relative;
  width: 379px;
  height: 58px;

  background: rgba(194, 65, 198, 0.8);
  border-radius: 24px;
}

img {
  position: absolute;
  width: 215px;
  height: 89px;
  left: 0px;
  top: 0px;
  background-color: black;
}
